# Python
__pycache__/
*.pyc
*.pyo

# Django
*.sqlite3
db.sqlite3
backend/taskdb.sqlite3

# Static files (IMPORTANT)
backend/staticfiles/

# Env
.env

# Node
node_modules/
frontend/dist/

# OS
.DS_Store
Thumbs.db